syntax: glob
.classpath
.project
.settings
.DS_Store
.mvn/
.idea/
target/
unite
*.pyc
*.iml
*.ipr
*.iws
*.ids
*.class
*.data
*.index
*.log
# Ignore pdf files for feature documentation
src/site/markdown/*.pdf