.header{
    background-color: #6EA204;
    text-align: center;
}

#Error_msg{
    color: #1c678b;
    font-family: "Arial Black";
    font-weight: bold;
}
#Logout_msg{
    color: darkgreen;
    font-family: "Arial Black";
    font-weight: bold;
}
h1{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_banner{
    min-height: 51vh;
}

#login{
    padding-top: 10%;
}
.btn{
    background-color: #6EA204;
}
a{
    text-decoration: none;
    color: #6EA204;
}