<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <title>Around The World :: Admin </title>
</head>
<body>
<header>
    <div th:replace="common/header :: header('admin')"></div>
</header>
<div class="container main">
    <h2 class="text-center">Admin Page</h2>
    <table border="1" cellpadding="10">
        <thead>
            <th>Challenge Name</th>
            <th>User</th>
            <th>User Location</th>
            <th>Approval Status</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>

        <tr th:each="unapprovedchallenge : ${unapprovedchallenges}">
            <td th:text="${unapprovedchallenge.challengeDetail.name}"></td>
            <td th:text="${#strings.capitalize(unapprovedchallenge.user.firstName) + ' ' + #strings.capitalize(unapprovedchallenge.user.lastName)}"></td>
            <td th:text="${#strings.capitalize(unapprovedchallenge.user.userLocation)}"></td>
            <td th:text="${unapprovedchallenge.approved}"></td>
            <td><a class="info" style="padding:2px;" th:href="@{'/approve/'+ ${unapprovedchallenge.id}}">Approve</a></td>
            <td><a class="info" style="padding:2px;" th:href="@{'/addcomments/'+ ${unapprovedchallenge.id}}">Add Comments</a></td>
            <td><a class="info" style="padding:2px;" th:href="@{'/viewcomments/'+ ${unapprovedchallenge.id}}">View Comments</a></td>
            <td><a class="info" style="padding:2px;" th:href="@{'/viewdetails/'+ ${unapprovedchallenge.id}}">View Details</a></td>
        </tr>
    </table>
</div>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>