<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}"/>
    <title> Reset Password </title>
</head>
<body>
<header>
    <div class="container-fluid mx-auto header">
        <div class="alert alert-danger" th:if="${message}">
            <label th:text="${message}"/>
        </div>
        <h1 class="mx-auto main_banner">Around the World</h1>
    </div>
</header>

<section id="login_section">
    <div class="container">
        <form class="form-signin mx-auto" th:action="@{/user/resetPassword}" th:object="${reset}" method="POST"
              enctype="utf8">

            <div class="form-group align-items-center text-center" id="verify">
                <div class="col-sm-4 mx-auto">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" th:field="*{emailId}" id="emailId" class="form-control mx-sm-3 mb-2"
                           placeholder="Dell Email Id" name="emailId" required autofocus>
                    <p class="error-list" th:each="error : ${#fields.errors('emailId')}" th:text="${error}">Validation
                        error</p>
                </div>

                <div class="col-sm-4 mx-auto text-center">
                    <br>
                    <button id="verifyEmail"
                            class="btn btn-primary btn-lg btn-signin text-center mx-auto" type="submit">Send Password
                        Reset Email
                    </button>
                </div>
            </div>
        </form>
        <div class="form-group align-items-center text-center" id="reg">
            <a href="/registration">Sign Up</a> &nbsp;|&nbsp; <a th:href="@{/login}"
                                                                 th:text="#{label.regform.loginLink}">Login</a>
        </div>
    </div>
</section>

</body>

</html>