<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>

<h1 th:text="#{label.resetPassword}"/>

<div th:if="${message}">
    <h4 th:text="${message}">msg</h4>
</div>

<form th:action="@{/user/resetPassword}" method="post">
    <div><label> Your Dell Email Id : <input type="text" name="email"/> </label> <input type="submit" value="Reset"/>
    </div>
</form>

<a th:href="@{/registration}" th:text="#{label.regform.submit}"> registration </a>
<a th:href="@{/login}" th:text="#{label.regform.loginLink}">login</a>

</body>

</html>