<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/gallery.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/gallery.js}">
    </script>
    <title> IdeaForce Gallery </title>
</head>
<body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<header>
    <div th:replace="common/header :: header('gallery')"></div>
</header>
<div class="container w-90 main">
    <div class="card mx-auto">
        <div class="card-header">
            <h3 class="text-center">LATEST CHALLENGES UNDERTAKEN</h3>
        </div>
    </div>
    <br>
    <section class="customer-logos slider">
        <div class="slide"><img th:each="challenge : ${latestChallenges}" th:src="@{'data:image/png;base64,' + ${challenge}}" alt="Image content"></div>
    </section>
    <br>
</div>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>