<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/index.js}">
    </script>
    <title> IdeaForce Home</title>
</head>
<body>
<header>
    <div th:replace="common/header :: header('index')"></div>
</header>
<div class="container main">
    <div class="container text-center">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/#about"><img class="d-block w-100" th:src="@{/assets/images/carousel_images/Banner_1.jpg}" alt="First slide"></a>
                </div>
                <div class="carousel-item">
                    <a href="/gallery"><img class="d-block w-100" th:src="@{/assets/images/carousel_images/Banner_2.jpg}" alt="Second slide"></a>
                </div>
                <div class="carousel-item">
                    <a href="/challenges"><img class="d-block w-100" th:src="@{/assets/images/carousel_images/Banner_3.jpg}" alt="Third slide"></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-around">
            <div class="row justify-content-center">
                <div class="mr-auto col-md-3 p-5 col-sm-6">
                    <div class="progress-bar position" data-percent="75" data-color="#fffff,#6EA204"></div>
                </div>
                <div class="mr-auto col-md-3 p-5 col-sm-6">
                    <div class="progress-bar position" data-percent="90" data-color="#fffff,#6EA204" data-text="# Steps Taken"></div>
                </div>
                <div class="mr-auto col-md-3 p-5 col-sm-6">
                    <div class="progress_static">
                        <span class="progress-bar_static"></span>
                        <span class="progress-bar_static"></span>
                        <div class="progress-value_static">
                            # Participants
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-fluid info" id="about">
        <h4 class="font-italic font-weight-bold">About Around the World</h4>
        <br>
        <p class="font-weight-normal">‘Around the World’ is a thought-driven movement to engage individuals to be part of an
        environmentally conscious community - which is sensitive to our environment and wants to contribute viz.
        bringing positive changes.  The campaign aims to replace carbon footprints with green footprints.</p>
        <p class="font-italic font-weight-bold">“The only way forward, if we are going to improve the quality of the environment, is to get everybody involved.” – Richard Rogers</p>
        <p class="font-weight-normal">We all have a part to play in saving our planet and the world today needs us to take responsibility for the future. ‘Around the World’ is a conscious effort to improve our ecological footprints by bringing a greener shift in our everyday lifestyles.</p>
        <p class="font-weight-normal">It would take 65 million steps to go around the circumference of the earth once. The goal of the campaign is to complete at least one green circuit ‘Around the World’ by taking green steps which are measured by green actions. These steps can be earned by completing challenges from our proposed list of <u>30 Green Challenges</u>. Each challenge is thought-provoking and shows how to save our planet through our individual actions. It aims to build environmental awareness and help identify our responsibilities towards the planet.</p>
        <p class="font-weight-normal">With collective efforts and through your support and participation, we hope to go ‘Around the World’, one green step at a time.</p>
    </div>
    <br>
    <div class="container-fluid info">
        <h4 class="font-italic font-weight-bold">How to Participate?</h4>
        <br>
        <p class="font-italic font-weight-bold">“The greatest threat to our planet is the belief that someone else will save it.” – Robert Swan</p>
        <p class="font-weight-normal">Are you ready to challenge your green side?</p>
        <p class="font-weight-normal">&emsp;&emsp;Step 1: Join the campaign today by <strong>registering</strong> on this portal.</p>
        <p class="font-weight-normal">&emsp;&emsp;Step 2: <strong>Choose one or more challenges</strong> to take up from our list of <strong><u>Green Challenges</u></strong>.</p>
        <p class="font-weight-normal">&emsp;&emsp;Step 3: <strong>Complete challenges and earn green steps</strong> which will contribute to our goal to go “Around the World”.</p>
        <p class="font-weight-normal">&emsp;&emsp;Step 4: <strong>Share your story</strong> on the website and get a chance to win exciting goodies.</p>
        <p class="font-weight-normal">Participants are free to take up one or all of the challenges!</p>
        <br>
        <h4 class="font-italic font-weight-bold">Why to Participate?</h4>
        <br>
        <p class="font-italic font-weight-bold">“If there’s a world here in a hundred years, it’s going to be saved by tens of millions of little things.” – Peter Seeger</p>
        <p class="font-weight-normal">What do you imagine the world to be like in a hundred years? Do you see green in it? If not, it’s time to challenge ourselves to change that. Every little action taken by us has an impact on the environment. Empowering our actions through concern, information and togetherness can make a world of difference.</p>
        <p class="font-weight-normal">It is important to understand that the pathway to a sustainable future can only be green. A small shift in the mindset and lifestyle of an individual can cause a ripple effect in environmental sensitivity. There is a pressing need for the individual to play an active role in saving our planet. One of the biggest challenges that exists is the gap in awareness regarding environmental concerns and the lack of a community to support change and sustainable, eco-friendly choices and habits.</p>
        <p class="font-weight-normal">Through the campaign ‘Around the World’, you will be able to witness how small changes in everyday lifestyles can create a huge shift in the role that we can play in saving our planet. Will you be a bystander or a challenger? Will you join us and take part in saving our planet?</p>
        <p class="font-weight-normal">Join the campaign today and be a part of the community that loves and protects our planet!</p>
    </div>
    <br>
</div>
<script type="text/javascript">
    $(".progress-bar").loading();
    $('input').on('click', function () {
        $(".progress-bar").loading();
    });
</script>
<footer>
<div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>