<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/gallery.js}"></script>
    <title>Around The World :: Leader Board</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<header>
    <div th:replace="common/header :: header('leaderboard')"></div>
</header>
<div class="container main">
    <br>

    <br>
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center">Latest Challengers </h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Site</th>
                    <th scope="col">Challenge Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="latestChallenge,iter : ${latestchallenges}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${#strings.capitalize(latestChallenge.user.firstName) + ' ' + #strings.capitalize(latestChallenge.user.lastName)}"></td>
                    <td>Bangalore</td>
                    <td th:text="${latestChallenge.challengeDetail.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h3 class="text-center">Top Challengers</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Site</th>
                    <th scope="col">Challenges Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topChallenger,iter : ${topchallengers}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${#strings.capitalize(topChallenger.user.firstName) + ' ' + #strings.capitalize(topChallenger.user.lastName)}"></td>
                    <td>Bangalore</td>
                    <td th:text="${topChallenger.count}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>