<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <title> IdeaForce Home</title>
</head>
<body>
<header>
    <div th:replace="common/header :: header('leaderboard')"></div>
</header>
<div class="container main">
    <h2 class="text-center">LeaderBoard Page</h2>
</div>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>