<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <title> IdeaForce Home</title>
</head>
<body>
<header>
    <div th:replace="common/header :: header('challenges')"></div>
</header>
<div class="container main">
   <h2 class="text-center">Submit Your Story</h2>
    <form method="post" action="../submit-story" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" id="challengeId" name="challengeId" th:value="${challengeId}">
        </div>
        <div class="form-group">
            <label for="title">Story Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="storyhelp" placeholder="Enter story title">
        </div>
        <div class="form-group">
            <label for="images">Upload supporting images (Maximum 3)</label>
            <input type="file" class="form-control-file" id="images" name="images" multiple="multiple">
        </div>
        <div class="form-group">
            <label for="video">Video Link / URL</label>
            <input type="text" class="form-control" id="video" name="video" aria-describedby="storyhelp" placeholder="Enter valid video link / URL">
        </div>
        <div class="form-group">
            <label for="description">Story Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter short description of the story"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>