<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header :: common-header"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <title> IdeaForce Home</title>
</head>
<body>
<header>
    <div th:replace="common/header :: header('challenges')"></div>
</header>
<div class="container main">
   <h2 class="text-center">Submit Story Here</h2>
    <form method="post" action="submit-story">
        <div class="form-group">
            <label for="storytitle">Story Title</label>
            <input type="text" class="form-control" id="storytitle" aria-describedby="storyhelp" placeholder="Enter Story Title">
            <small id="storyhelp" class="form-text text-muted">Title of the Challenge/Story goes Here</small>
        </div>
        <div class="form-group">
            <label for="pictureupload">Example file input</label>
            <input type="file"  multiple='multiple' class="form-control-file" id="pictureupload">
        </div>
        <div class="form-group">
            <label for="video">Video Link/URL</label>
            <input type="text" class="form-control" id="video" name="video" aria-describedby="storyhelp" placeholder="Enter Video URL here">
        </div>
        <div class="form-group">
            <label for="description">Story Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Story Description here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<footer>
    <div th:replace="common/header :: footer"></div>
</footer>
<span th:include="common/header :: before-body-scripts"></span>
</body>
</html>